
@media only screen and (max-width:1024px) {
    .mobnavlinks{
        /* display: block;     */
        position: absolute;
        top: 80px;
        right: 0;
        /* left: 0px; */
        width: fit-content;
        height: 100vh;
    }

    .navlinks{
        display: none;
        position: absolute;
    }
}

@media only screen and (max-width:768px) {

    .navlinks{
        transform: translateY(-100%);
        transition: .3s;
    }
    
    .mobnavlinks{
        /* display: block;     */
        position: fixed;
        top: 80px;
        right: 0;
        /* left: 0px; */
        width: 100vw;
        height: 100vh;
        transform: translateY(0%);
        transition: .3s;
    }
    .mobnavlinks ul{
        line-height: 50px;
        text-align: center;
    }
    

    .mobnavlinks button{
        display: none;
    }
}