@media only screen and (max-width: 1024px) {
    nav{
        z-index: 99;
    }
    .navlinks{
        /* display: none; */
        position: absolute;
        transform: translateY(-100%);
        transition: .3s;
        width: 100%;
        top: -100%;
        z-index: 8;
    }
    
    .mobnavlinks{
        z-index: 8;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        width: 100%;
        transform: translateY(0%);
        transition: .3s;
        height: 100vh;
        text-align: center;
        line-height: 50px;
    }

}

@media only screen and (max-width: 768px) {
    .mobnavlinks ul{
    /* height: 100vh; */
    }
}